.grid-container {
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 100%;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.grid-item-image {
  max-width: 100%;
  max-height: 40vh;
  -webkit-filter: blur(1px);
}

.grid-item-tag {
  position: absolute;
  margin: auto;
  inset: 0;
  height: 100px;
  width: 100%;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: #474747 1px 1px 1px;
}