.about-page {
  padding: 10px 15%;
  font-size: 2.2vh;
  @media (max-width: 640px) {
    padding: 10px 10%;
    font-size: 2vh;
  }
  @media (min-width: 1280px) {
    font-size: 2.4vh;
  }
  font-family: serif;
  text-align: center;
  color: #fdf8ed;
  position: absolute;
  top: 10vh;
}

.about-page-header {
  font-size: 4vh;
  @media (max-width: 640px) {
    font-size: 3vh;
  }
  @media (min-width: 1280px) {
    font-size: 5vh;
  }
  font-weight: bold;
  font-family: sans-serif;
  color: #b9b5af;
}

.about-page-container {
  position: relative;
  padding: 25px 20px;
  background-color: #202020;
  border-radius: 12px;
}

.about-page-avatar {
  margin-top: 3vh;
  width: 10vh;
}
