.about-page {
  padding: 10px 10%;
  font-size: 2vh;
  @media (max-width: 500px) {
    font-size: 1.8vh;
  }
  text-align: center;
  color: #fdf8ed;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about-page-header {
  font-size: 4vh;
  @media (max-width: 500px) {
    font-size: 3.5vh;
  }
  font-weight: bold;
  font-family: sans-serif;
  color: #b9b5af;
}

.about-page-container {
  position: relative;
  padding: 20px 8px;
  background-color: #202020;
  border-radius: 12px;
}
