.about-page {
  @media (max-width: 640px) {
    padding: 5px 0%;
    font-size: 1rem;
  }
  padding: 10px 7%;
  font-size: 1.2rem;
  @media (min-width: 1280px) {
    padding: 10px 15%;
    font-size: 1.3rem;
  }
  font-family: serif;
  text-align: center;
  color: #fdf8ed;
  position: absolute;
  top: max(58px, 10vh);
}

.about-page-header {
  @media (max-width: 640px) {
    font-size: 1.6rem;
  }
  font-size: 2.2rem;
  @media (min-width: 1280px) {
    font-size: 2.4rem;
  }
  font-weight: bold;
  font-family: sans-serif;
  color: #b9b5af;
}

.about-page-container {
  position: relative;
  padding: 25px 20px;
  background-color: #202020;
  border-radius: 12px;
}

.about-page-avatar {
  margin: 3vh 0;
  @media (max-width: 640px) {
    margin: 1.5vh 0;
  }
  width: 10vh;
  border-radius: 50%;
}

.about-page-disclaimer {
  @media (max-width: 640px) {
    font-size: 0.8rem;
  }
  font-size: 1rem;
  @media (min-width: 1280px) {
    font-size: 1.1rem;
  }
  text-align: right;
}
