$sfm-brown: #a89368;
$sfm-light-brown: #bda474;

.carousel {
  overflow: hidden;
  font-family: sans-serif;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-tips-dialog {
  text-align: center;
}

.carousel-tips-dialog-title {
}

.carousel-tips-dialog-text {
  padding: 50px;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  vertical-align: top;
}

.carousel-item-author {
  color: $sfm-brown;
  @media (min-width: 640px) {
    font-size: 3rem;
  }
  font-size: 1.4rem;
  margin: 7px 0;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace, sans-serif;
  text-align: center;
  width: 100%;
  white-space: normal
}

.carousel-item-tags {
  color: $sfm-brown;
  @media (min-width: 640px) {
    font-size: 1rem;
  }
  font-size: 0.7rem;
  margin: 0 0 10px;
  text-decoration: none;
}

.carousel-item-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-item-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  @media screen and (orientation:landscape) {
    height: calc(80vh - 68.5px);
  }
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.indicators-mobile {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  @media (min-width: 640px) {
    display: none;
  }
}

.indicators {
  display: flex;
  justify-content: center;
  @media (max-width: 640px) {
    display: none;
  }
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

ul .MuiPaginationItem-root {
  background-color: #b9b5af;
  @media (max-width: 640px) {
    font-size: 0.7rem;
    min-width: 25px;
    height: 25px;
  }
  font-size: 1.1rem;
  min-width: 35px;
  height: 35px;
}

.MuiPagination-root {
  @media (max-width: 640px) {
    margin-bottom: 6px;
  }
  margin-bottom: 10px;
}

ul .MuiPaginationItem-root:hover {
  background-color: #fdf8ed;
}

ul .MuiPaginationItem-root.Mui-selected {
  background-color: #fdf8ed;
  margin: 0 0;
}

ul .MuiPaginationItem-root.Mui-selected:hover {
  background-color: #fdf8ed;
}

.filters {
  margin: 0 0 5px;
  color: $sfm-brown;
  font-size: 1.2rem;
  @media (max-width: 640px) {
    font-size: 0.9rem;
  }
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags-container {
  background-color: $sfm-light-brown;
  width: fit-content;
  padding: 7px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0 inset;
  flex-wrap: wrap;
}

$tag-button-base-color: #685b3f;

.tag-button {
  appearance: none;
  background-color: $tag-button-base-color;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 6px 16px;
  @media (max-width: 640px) {
    font-size: 0.7rem;
    padding: 3px 8px;
  }
  font-weight: 600;
  line-height: 20px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.tag-button:hover {
  filter: brightness(150%);
  text-decoration: none;
  transition-duration: 0.1s;
}

.tag-button:active {
  filter: brightness(190%);
}

.tag-button-active {
  border: 1px solid rgba(27, 31, 35, 0.356);
  filter: brightness(190%);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.tag-button-active:hover {
  filter: brightness(210%);
}

.tag-button:disabled {
  background-color: $tag-button-base-color;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.tag-button:before {
  display: none;
}

.filters-title {
  display: flex;
  flex-basis: 100%;
  width: 0;
  justify-content: center;
  background-color: $sfm-light-brown;
  color: rgb(31, 31, 31);
  font-family: sans-serif;
}

.filters-toggle-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.filters-toggle-button {
  display: flex;
  align-items: center;
  background-color: $sfm-light-brown;
  height: 75%;
  cursor: pointer;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0 inset;
}

.filters-toggle-button:hover {
  filter: brightness(120%);
}